
{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %} {{ title }}Verified by Signature {% else %} Verified by Signature {% endif %}
{% endblock %}
<style media="screen">
.split {
height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the left side */
.left {
left: 0;
background-color: #111;
}

/* Control the right side */
.right {
right: 0;
background-image:url("{{url_for('static', filename="background.jpg")}}");
}

/* If you want the content centered horizontally and vertically */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
width: 150px;
border-radius: 20%;


}
#make{ width: 500px;height: 500px}
</style>

{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<div class="text-left">
				<a class="navbar-brand" href="{{ url_for('index') }}">Signature</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('index') }}">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% else %}
					<li><a href="{{url_for('generatevirtualid', username=current_user.username)}}">VirtualID</a></li>
					<li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
					<li><a href="{{ url_for('documents', username=current_user.username) }}">Documents</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>


	{% endblock %}

	{% block content %}

		<div class="container ">

			{% with messages=get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
			{% endif %}
			{% endwith %}

			{% block app_content %}<div class="split right"></div>
			{%endblock %}

			</div>
		{%endblock%}
